body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjExNDQtd2FsbHBhcGVyLTAxLWt6aTBzOHpvLmpwZw.jpg");
    background-size: cover;
}

header {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco transparente */
    padding: 20px;
    text-align: center;
}

img{
    padding-left: 20%;
}

.lovers-quarrel-regular {
  font-family: "Lovers Quarrel", cursive;
  font-weight: 400;
  font-style: normal;
}


header h1 {
    font-family: "Lovers Quarrel", cursive;
    font-weight: 400;
    font-style: normal;
    color: #8b0000; /* Color de texto rojo oscuro */
    font-size: 70px
}

p {
    font-family: "Lovers Quarrel", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color:
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco transparente */
    padding: 20px;
    border-radius: 10px;
}

footer {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco transparente */
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    color: #8b0000; /* Color de texto rojo oscuro */
}
